<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout_backend}">
<head>
    <meta charset="ISO-8859-1">
    <title>About Us</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <div class="backend about">
            <div th:if = "${success} != ''" class="alert alert-success" th:text ="${success}"></div>
            <form method="post">
                <h1 class="page-title">About Us</h1>
                <div class="row grid-margin">
                    <div class="col-12">
                        <div class="card">
                            <h2 class="card-header">About page</h2>
                            <div class="card-body">
								<div class  ="row">
								<div class ="col-lg-6 col-md-12">
									<div class="form-group form-inline">
										<div class="col-lg-6 col-md-4 col-xs-12">
											<label th:for="title">Title</label>
										</div>
										<div class="col-lg-6 col-md-8 col-xs-12">
											<input type="text" class="form-control" name="title"
												placeholder="Title" th:value="${about?.title}"
												required="required">
										</div>
									</div>
								</div>
								<div class  ="col-lg-6 col-md-12">
									<div class="form-group form-inline">
										<div class="col-lg-6 col-md-4 col-xs-12">
											<label th:for="title">Left Title</label>
										</div>
										<div class="col-lg-6 col-md-8 col-xs-12">
											<input type="text" class="form-control" name="leftTitle"
												placeholder="Left Title" th:value="${about?.leftTitle}"
												required="required">
										</div>
									</div>
								</div>
								<div class ="col-lg-6 col-md-12">
									<div class="form-group form-inline">
										<div class="col-lg-6 col-md-4 col-xs-12">
											<label th:for="title">Visit text</label>
										</div>
										<div class="col-lg-6 col-md-8 col-xs-12">
											<input type="text" class="form-control" name="visitText"
												placeholder="Visit " th:value="${about?.visitText}"
												required="required">
										</div>
									</div>
								</div>
								<div class ="col-lg-6 col-md-12">
									<div class="form-group form-inline">
										<div class="col-lg-6 col-md-4 col-xs-12">
											<label th:for="title">Right Title</label>
										</div>
										<div class="col-lg-6 col-md-8 col-xs-12">
											<input type="text" class="form-control" name="rightTitle"
												   placeholder="Right Title" th:value="${about?.rightTitle}"
												   required="required">
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="form-group form-inline">
										<div class="col-lg-6 col-md-12">
											<label th:for="leftContent">Left content</label>
										</div>
									</div>
									<div class="form-group form-inline">
										<div class="col-12">
											<textarea class="form-control" id="tinyMceExample" name="leftContent" rows="3" th:text = "${about?.leftContent}" ></textarea>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="form-group form-inline">
										<div class="col-lg-6 col-md-12">
											<label th:for="rightContent">Right content</label>
										</div>
									</div>
									<div class="form-group form-inline">
										<div class="col-12">
											<textarea class="form-control" id="tinyMceExample1" name="rightContent" rows="3" th:text = "${about?.rightContent}"></textarea>
										</div>
									</div>
								</div>
								</div>
			                <div class="text-center"><button type="submit" class="btn btn-primary">Save</button></div>
							</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>