<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout_backend}">
<head>
<meta charset="ISO-8859-1">
<title>Gallery</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<h1 class="page-title">Manage Gallery</h1>
		<div class="col-12">
			<div class="card">
				<h2 class="card-header">List Gallery</h2>
				<div class="container gallery">
					<div class="row" data-th-each = "gallery : ${lsGallery}">
						<form th:action="@{/admin/updategallery}" id="formgallery" name="formgallery" method=POST enctype="multipart/form-data">
						<div class  = "row">
						<input type = "hidden" name = "id" id = "id" th:value = "${gallery.id}">
						<div class="col-6">
							<div class="form-group form-inline">
								<div class="col-6 col-sm-4">
									<label th:for="title">Title</label>
								</div>
								<div class="col-6 col-md-8">
									<input type="text" name="edittitle" id="edittitle" class="form-control" th:value = "${gallery.title}"
										required>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group form-inline">
								<div class="col-6 col-sm-4">
									<label th:for="image">Image</label>
								</div>
								<div class="col-6 col-md-8">
									<input type="file" name="editimage" id="editimage" class="dropify form-control" th:data-default-file = "@{${'/assets/'+gallery.image}}">
								</div>
							</div>
						</div>
						</div>
						<div class="text-center">
							<button id="btnUpdate" type="submit" class="btn btn-primary" name = "update" th:text ="Update"></button>
							<button id="btnDelete" type="submit" class="btn btn-danger" name = "delete" th:text ="Delete"></button>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row grid-margin col-12">
		    <button class="btn btn-sm btn-success btn-add-new-gallery" id-input="0" type="button" style=""><i class="mdi mdi-plus"></i></button>
		</div>
		<div class="row grid-margin partner add-new-gallery">
		<div class="col-12">
				<div class="card">
					<form th:action="@{/admin/addgallery}" method=POST enctype="multipart/form-data">
					<h2 class="card-header">
						Gallery
						<button class="btn btn-sm btn-danger btn-close-new-gallery" id-input="0"
							type="button" style="">
							<i class="mdi mdi-minus"></i>
						</button>
					</h2>
					<div class="card-body">
						<div class="row">
							<div class="col-6">
								<div class="form-group form-inline">
									<div class="col-6 col-sm-4">
										<label th:for="title">Title</label>
									</div>
									<div class="col-6 col-md-8">
										<input type="text" name="title" id="title" class="form-control"
											required>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group form-inline">
									<div class="col-6 col-sm-4">
										<label th:for="image">Image</label>
									</div>
									<div class="col-6 col-md-8">
										<input type="file" name="image" id="image" class="dropify form-control"
											required>
									</div>
								</div>
							</div>
						</div>
						<div class="text-center">
							<button id="btnAdd" type="submit" class="btn btn-primary" th:text ="Add"></button>
						</div>
					</div>
					</form>
				</div>
		</div>
		</div>
	</div>
</body>
</html>