<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout_backend}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
<h1 class="page-title">Manage Home</h1>
<div class="col-12">
	<div class="card">
		<h2 class="card-header">Home menu</h2>
		<form th:action="@{/admin/updaptehome}" id="formhome"
			name="formhome" method=POST enctype="multipart/form-data">
			<div class="card-body">
				<div class="row">
					<div class="col-6">
						<div class="form-group form-inline">
							<div class="col-6 col-sm-4">
								<label th:for="Appname">Application name</label>
							</div>
							<div class="col-6 col-md-8">
								<input type="text" name="appName" id="appName" class="form-control" th:value = "${home.appName}" required>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group form-inline">
							<div class="col-6 col-sm-4">
								<label th:for="introduction">Introduction</label>
							</div>
							<div class="col-6 col-md-8">
								<input type="text" name="introduction" id="introduction" class="form-control" th:value = "${home.introduction}" required>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group form-inline">
							<div class="col-6 col-sm-4">
								<label th:for="explore">Explore</label>
							</div>
							<div class="col-6 col-md-8">
								<input type="text" name="explore" id="explore" class="form-control" th:value = "${home.explore}" required>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group form-inline">
							<div class="col-6 col-sm-4">
								<label th:for="start">Start</label>
							</div>
							<div class="col-6 col-md-8">
								<input type="text" name="start" id="start" class="form-control" th:value = "${home.start}" required>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group form-inline">
							<div class="col-6 col-sm-4">
								<label th:for="singaportintro">Singapore Satellite</label>
							</div>
							<div class="col-6 col-md-8">
								<input type="text" name="singaportintro" id="singaportintro" class="form-control" th:value = "${home.singaportintro}" required>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group form-inline">
							<div class="col-6 col-sm-4">
								<label th:for="image">Background image1</label>
							</div>
							<div class="col-6 col-md-8">
								<input type="file" name="background1" id="background1" class="dropify form-control" th:data-default-file ="@{${'/assets/'+home.background1}}" />
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="form-group form-inline">
							<div class="col-6 col-sm-4">
								<label th:for="image">Background image2</label>
							</div>
							<div class="col-6 col-md-8">
								<input type="file" name="background2" id="background2" class="dropify form-control" th:data-default-file ="@{${'/assets/'+home.background2}}" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center">
				<button id="btnUpdate" type="submit" class="btn btn-primary" th:text ="Update"></button>
			</div>
		</form>
	</div>
</div>
</div>
</body>
</html>