<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout_backend}">
<head>
    <title>Admin</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1 class="page-title">Admin Information</h1>
		<div class="row grid-margin">
			<div class="col-12">
				<div class="card">
					<form th:action="@{/admin/changepassword}" method=POST>
					<h2 class="card-header">Update password</h2>
					<div th:if="${error != ''}" class="alert alert-danger" th:text ="${error}"></div>
					<div th:if="${success != ''}" class="alert alert-success" th:text ="${success}"></div>
					<div class="card-body">
						<div class="row">
							<div class="col-6">
								<div class="form-group form-inline">
									<div class="col-6 col-sm-4">
										<label th:for="username">Username</label>
									</div>
									<div class="col-6 col-sm-4">
										<input type="text" name="username" id="username"
											class="form-control" th:value="admin" disabled>
									</div>
								</div>
								<div class="form-group form-inline">
									<div class="col-6 col-sm-4">
										<label th:for="password">Current password</label>
									</div>
									<div class="col-6 col-sm-4">
										<input type="password" name="password" id="password"
											class="form-control" placeholder="Current password" required >
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group form-inline">
									<div class="col-6 col-sm-4">
										<label th:for="newpassword">New password</label>
									</div>
									<div class="col-6 col-sm-4">
										<input type="password" name="newpassword" id="newpassword"
											class="form-control" placeholder="New password" required >
									</div>
								</div>
								<div class="form-group form-inline">
									<div class="col-6 col-sm-4">
										<label th:for="confirmpassword">Confirm password</label>
									</div>
									<div class="col-6 col-sm-4">
										<input type="password" name="confirmpassword" id="confirmpassword"
											class="form-control" placeholder="New password" required >
									</div>
								</div>
							</div>
						</div>
						<div class="text-center">
							<button id="btnChangePassword" type="submit" class="btn btn-primary" th:text ="Update"></button>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row grid-margin">
			<div class="col-12">
				<div class="card">
					<form th:action="@{/admin/updatecontact}" method=POST>
						<h2 class="card-header">Contact page</h2>
						<div class="card-body">
							<div class="row">
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-md-4">
											<label th:for="title">Title</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="title" id="title" placeholder="Title"
												class="form-control" th:value = "${contact.pageTitle}" required>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-md-4">
											<label th:for="phone">Phone Number</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="phone" id="phone" placeholder="Phone Number"
												class="form-control" th:value ="${contact.phoneNumber}" required>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-md-4">
											<label th:for="email">Email address</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="email" id="email" placeholder="Email"
												class="form-control" th:value = "${contact.emailAddress}" required>
										</div>
									</div>
									<div class="form-group form-inline">
										<div class="col-6 col-md-4">
											<label th:for="send">Text send</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="send" id="send" placeholder="Text send"
												class="form-control" th:value = "${contact.send}" required>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-md-4">
											<label th:for="address">Address</label>
										</div>
										<div class="col-6 col-md-8">
											<textarea name="address" id="address"
												class="form-control" rows="2" placeholder="Address" th:field = "*{contact.address}" required></textarea>
										</div>
									</div>
									<div class="form-group form-inline">
										<div class="col-6 col-md-4">
											<label th:for="electronics">ST Electronics</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="electronics" id="electronics" placeholder="ST Electronics"
												class="form-control" th:value = "${contact.electronics}" required>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-md-4">
											<label th:for="name">Name Form</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="nameform" id="nameform" placeholder="Name form"
												class="form-control" th:value = "${contact.nameform}" required>
										</div>
									</div>
									<div class="form-group form-inline">
										<div class="col-6 col-md-4">
											<label th:for="emailform">Email Form</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="emailform" id="emailform" placeholder="Email form"
												class="form-control" th:value = "${contact.emailform}" required>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-md-4">
											<label th:for="contactform">Contact Number</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="contactform" id="contactform" placeholder="Contact Number"
												class="form-control" th:value = "${contact.contactform}" required>
										</div>
									</div>
									<div class="form-group form-inline">
										<div class="col-6 col-md-4">
											<label th:for="companyform">Company name</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="companyform" id="companyform" placeholder="Company name"
												class="form-control" th:value = "${contact.companyform}" required>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-md-4">
											<label th:for="enquiry">Select Enquiry</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="enquiry" id="enquiry" placeholder="Select enquiry"
												class="form-control" th:value = "${contact.enquiry}" required>
										</div>
									</div>
									<div class="form-group form-inline">
										<div class="col-6 col-md-4">
											<label th:for="enquiryoption">Enquiry options</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="enquiryoption" id="enquiryoption" placeholder="Enquiry option(split comma)"
												class="form-control" th:value = "${contact.enquiryoption}" required>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-md-4">
											<label th:for="message">Message</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="message" id="message" placeholder="Message"
												class="form-control" th:value = "${contact.message}" required>
										</div>
									</div>
								</div>
							</div>
							<div class="text-center">
								<button id="btnUpdateContact" type="submit" class="btn btn-primary" th:text ="Update"></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row grid-margin">
			<div class="col-12">
				<div class="card">
					<form th:action="@{/admin/smtpemail}" method=POST>
					<h2 class="card-header">Update SMTP Gmail</h2>
					<div class="card-body">
						<div class="row">
							<div class="col-6">
								<div class="form-group form-inline">
									<div class="col-6 col-sm-4">
										<label th:for="email">Email address</label>
									</div>
									<div class="col-6 col-md-8">
										<input type="text" name="smtpemail" id="smtpemail"
											class="form-control" th:value = "${SMTPEmail?.email}" required>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group form-inline">
									<div class="col-6 col-sm-4">
										<label th:for="password">Password</label>
									</div>
									<div class="col-6 col-md-8">
										<input type="password" name="smtppassword" id="smtppassword"
											class="form-control" placeholder="Password" th:value = "${SMTPEmail?.password}" required >
									</div>
								</div>
							</div>
						</div>
						<div class="text-center">
							<button id="btnUpdateemail" type="submit" class="btn btn-primary" th:text ="Update"></button>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>