<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
</head>
<body>
<div class="container table-responsive">
	<table id="tblsatellites" class="table table-striped table-bordered"
		cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Name</th>
				<th>Select to edit</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="satellite : ${lsSatellite}">
				<td data-th-text="${satellite.name}" class="name"></td>
				<td>
					<form th:action="@{/admin/searchsatellite}" id="formsearch" name="formsearch"
						method=GET>
						<input type="hidden" name="id" th:value="${satellite.id}">
						<button type="submit" class="btn btn-primary" value="select"
							name="show">Select</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>

</div>
<script type="text/javascript" th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vi.js}"></script>
</body>
</html>