<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout_backend}">
<head>
<meta charset="ISO-8859-1">
<title>Satellite</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<h1 class="page-title">Manage Satellites</h1>
		<div class="col-12">
			<div class="card">
				<h2 class="card-header">List partners</h2>
				<div class="container table-responsive">
				<table id="tblpartners"
						class="table table-striped table-bordered"
						cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Display Type</th>
							<th>Show satellites</th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="partner : ${lsPartner}">
							<td data-th-text="${partner.id}" class="id"></td>
							<td data-th-text="${partner.name}" class="name"></td>
							<td data-th-text="${partner.displayType} == 1 ? Image : Full"></td>
							<td>
								<input type="hidden" name="id" th:value="${partner.id}">
								<button type="button" class="btn btn-secondary"
									data-toggle="modal" data-target="#showSatellite"
									value="show" name="show">Show</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="modal fade" id="showSatellite" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="ModalSatelliteLabel">
										</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>

									<div class="modal-body-satellite">
									
									</div>
									<div class="modal-footer partner">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
									</div>
								</div>
						</div>
					</div>
				<!-- 	<form th:action="@{/admin/searchsatellite}" id="formsearch"
					name="formsearch" method=GET>
						<div th:if="${error}" class="alert alert-warning"
							th:text="${error}"></div>
						<div th:if="${success} != ''" class="alert alert-success"
							th:text="${success}"></div>
						<div class="row">
							<div class="col-6">
								<div class="form-group form-inline">
									<div class="col-6 col-sm-4">
										<label th:for="partner">Select partner</label>
									</div>
									<div class="col-6 col-md-8">
										<select name="partner" required="required">
											<option th:each="partner : ${lsPartner}"
												th:value="${partner.id}" th:text="${partner.name}"></option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group form-inline">
									<div class="col-6 col-sm-4">
										<label th:for="name">Satellite name</label>
									</div>
									<div class="col-6 col-md-8">
										<input type="text" name="name" id="name" class="form-control"
											required>
									</div>
								</div>
							</div>
						</div>
						<div class="text-center">
							<button id="btnSearch" type="submit" class="btn btn-primary"
								th:text="Search"></button>
						</div>
			</form> -->
				</div>
				<div th:if="${satellitesearch}" class="card-body" id = "div_focus" tabindex="-1">
					<h2 class="card-header" th:text = "${satellitesearch.name}"></h2>
					<form th:action="@{/admin/updatesatellite}" id="formedit"
						name="formedit" method=POST enctype="multipart/form-data">
						<div class="row">
							<input type="hidden" name="id" id="id"
								th:value="${satellitesearch.id}" />
							<div class="col-6">
								<div class="form-group form-inline">
									<div class="col-6 col-sm-4">
										<label th:for="satellite">Name</label>
									</div>
									<div class="col-6 col-md-8">
										<input type="text" name="nameedit" id="nameedit"
											class="form-control" th:value="${satellitesearch.name}"
											required>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group form-inline">
									<div class="col-6 col-sm-4">
										<label th:for="partner">Partner id</label>
									</div>
									<div class="col-6 col-md-8">
										<input type="text" name="partneredit" id="partneredit"
											class="form-control" th:value="${satellitesearch.partnerid}"
											disabled="disabled">
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group form-inline">
									<div class="col-6 col-sm-4">
										<label th:for="image">Image</label>
									</div>
									<div class="col-6 col-md-8">
										<input type="file" name="imageedit" id="imageedit" class="dropify form-control" th:data-default-file ="@{${'/assets/'+satellitesearch.image}}" />
									</div>
								</div>
							</div>
							<div th:if="${displaytype} == 1" class="row onlyimageedit">
								<div class="col-6">
									<div class="form-group form-inline">
										<label th:for="introduction">Introduction</label>
									</div>
									<div class="form-group form-inline">
										<textarea class="form-control" id="tinyMceExample"
											name="introductionedit" rows="3"
											th:text="${satellitesearch.introduction}"></textarea>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<label th:for="features">Key feature</label>
									</div>
									<div class="form-group form-inline">
										<textarea class="form-control" id="tinyMceExample"
											name="featuresedit" rows="3"
											th:text="${satellitesearch.feature}"></textarea>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<label th:for="description">Description</label>
									</div>
									<div class="form-group form-inline">
										<textarea class="form-control" id="tinyMceExample"
											name="descriptionedit" rows="3"
											th:text="${satellitesearch.description}"></textarea>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<label th:for="description">Small description (only
											for Singapore satellite)</label>
									</div>
									<div class="form-group form-inline">
										<div class="col-6">
											<label th:for="description">Description 1</label>
										</div>
										<div class="col-6">
											<input type="text" name="description1edit"
												id="description1edit" placeholder="Small description 1"
												th:value="${satellitesearch.description1}"
												class="form-control">
										</div>
									</div>
									<div class="form-group form-inline">
										<div class="col-6">
											<label th:for="description">Description 2</label>
										</div>
										<div class="col-6">
											<input type="text" name="description2edit"
												id="description2edit" placeholder="Small description 2"
												th:value="${satellitesearch.description2}"
												class="form-control">
										</div>
									</div>
									<div class="form-group form-inline">
										<div class="col-6">
											<label th:for="description">Description 3</label>
										</div>
										<div class="col-6">
											<input type="text" name="description3edit"
												id="description3edit" placeholder="Small description 3"
												th:value="${satellitesearch.description3}"
												class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div th:if="${displaytype} == 2" class="row fullstatedit">
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="Title">Operator</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="titleedit" id="titleedit"
												class="form-control" th:value="${satellitesearch.title}">
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="country">Country</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="countryedit" id="countryedit"
												class="form-control" th:value="${satellitesearch.country}">
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="Type">Type</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="typeedit" id="typeedit"
												class="form-control" th:value="${satellitesearch.type}">
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="Launch">Launch</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="launchedit" id="launchedit"
												class="form-control" th:value="${satellitesearch.launch}">
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="Orbit">Orbit</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="orbitedit" id="orbitedit"
												class="form-control" th:value="${satellitesearch.orbit}">
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="Local">Local Time Ascending</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="timeedit" id="timeedit"
												class="form-control" th:value="${satellitesearch.time}">
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="lifetimeedit">Lifetime</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="lifetimeedit" id="lifetimeedit"
												class="form-control" th:value="${satellitesearch.lifetime}">
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="Agility">Agility</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="agilityedit" id="agilityedit"
												class="form-control" th:value="${satellitesearch.agility}">
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="Spatial">Spatial Resolution</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="spatialedit" id="spatialedit"
												class="form-control" th:value="${satellitesearch.spatial}">
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="Brand">Spectral Bands</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="brandedit" id="brandedit"
												class="form-control" th:value="${satellitesearch.brand}">
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="Swath">Swath</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="swathedit" id="swathedit"
												class="form-control" th:value="${satellitesearch.swath}">
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="sensor">Satellites Sensor</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="sensoredit" id="sensoredit"
												class="form-control" th:value="${satellitesearch.sensor}"
												required>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="text-center">
							<button id="btnEdit" type="submit" class="btn btn-primary"
								th:text="Update" name="update" value="update"></button>
							<button id="btnDelete" type="submit" class="btn btn-danger"
								th:text="Delete" name="delete" value="delete"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row grid-margin col-12">
			<button class="btn btn-sm btn-success btn-add-new-satellite"
				id-input="0" type="button" style="">
				<i class="mdi mdi-plus"></i>
			</button>
		</div>
		<div class="row grid-margin partner add-new-satellite">
			<div class="col-12">
				<div class="card">
					<form th:action="@{/admin/addsatellite}" method=POST
						enctype="multipart/form-data">
						<h2 class="card-header">
							Satellite
							<button class="btn btn-sm btn-danger btn-close-new-satellite"
								id-input="0" type="button" style="">
								<i class="mdi mdi-minus"></i>
							</button>
						</h2>
						<div class="card-body">
							<div class="row">
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="satellite">Name</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="text" name="name" id="name" class="form-control"
												required>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="partner">Select partner</label>
										</div>
										<div class="col-6 col-md-8">
											<select name="partner" required="required">
												<option th:each="partner : ${lsPartner}"
													th:value="${partner.id}" th:text="${partner.name}"></option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="image">Image</label>
										</div>
										<div class="col-6 col-md-8">
											<input type="file" name="image" id="image"
												class="dropify form-control" required />
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group form-inline">
										<div class="col-6 col-sm-4">
											<label th:for="DisplayType">Display type</label>
										</div>
										<div class="col-6 col-md-8">
											<label class="radio-inline"> <input type="radio"
												name="display" value="image" checked>Image <input
												type="radio" name="display" value="full">Full
											</label>
										</div>
									</div>
								</div>
								<div class="row onlyimage">
									<div class="col-6">

										<div class="form-group form-inline">
											<label th:for="introduction">Introduction</label>
										</div>
										<div class="form-group form-inline">
											<textarea class="form-control" id="tinyMceExample"
												name="introduction" rows="3"></textarea>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<label th:for="features">Key feature</label>
										</div>
										<div class="form-group form-inline">
											<textarea class="form-control" id="tinyMceExample"
												name="features" rows="3"></textarea>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<label th:for="description">Description</label>
										</div>
										<div class="form-group form-inline">
											<textarea class="form-control" id="tinyMceExample"
												name="description" rows="3"></textarea>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<label th:for="description">Small description (only
												for Singapore satellite)</label>
										</div>
										<div class="form-group form-inline">
											<div class="col-6">
												<label th:for="description">Description 1</label>
											</div>
											<div class="col-6">
												<input type="text" name="description1" id="description1"
													placeholder="Small description 1" class="form-control">
											</div>
										</div>
										<div class="form-group form-inline">
											<div class="col-6">
												<label th:for="description">Description 2</label>
											</div>
											<div class="col-6">
												<input type="text" name="description2" id="description2"
													placeholder="Small description 2" class="form-control">
											</div>
										</div>
										<div class="form-group form-inline">
											<div class="col-6">
												<label th:for="description">Description 3</label>
											</div>
											<div class="col-6">
												<input type="text" name="description3" id="description3"
													placeholder="Small description 3" class="form-control">
											</div>
										</div>
									</div>
								</div>
								<div class="row fullstat">
									<div class="col-6">
										<div class="form-group form-inline">
											<div class="col-6 col-sm-4">
												<label th:for="Title">Operator</label>
											</div>
											<div class="col-6 col-md-8">
												<input type="text" name="title" id="title"
													class="form-control">
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<div class="col-6 col-sm-4">
												<label th:for="country">Country</label>
											</div>
											<div class="col-6 col-md-8">
												<input type="text" name="country" id="country"
													class="form-control">
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<div class="col-6 col-sm-4">
												<label th:for="Type">Type</label>
											</div>
											<div class="col-6 col-md-8">
												<input type="text" name="type" id="type"
													class="form-control">
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<div class="col-6 col-sm-4">
												<label th:for="Launch">Launch</label>
											</div>
											<div class="col-6 col-md-8">
												<input type="text" name="launch" id="launch"
													class="form-control">
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<div class="col-6 col-sm-4">
												<label th:for="Orbit">Orbit</label>
											</div>
											<div class="col-6 col-md-8">
												<input type="text" name="orbit" id="orbit"
													class="form-control">
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<div class="col-6 col-sm-4">
												<label th:for="Local">Local Time Ascending</label>
											</div>
											<div class="col-6 col-md-8">
												<input type="text" name="time" id="time"
													class="form-control">
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<div class="col-6 col-sm-4">
												<label th:for="lifetime">Lifetime</label>
											</div>
											<div class="col-6 col-md-8">
												<input type="text" name="lifetime" id="lifetime"
													class="form-control">
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<div class="col-6 col-sm-4">
												<label th:for="Agility">Agility</label>
											</div>
											<div class="col-6 col-md-8">
												<input type="text" name="agility" id="agility"
													class="form-control">
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<div class="col-6 col-sm-4">
												<label th:for="Spatial">Spatial Resolution</label>
											</div>
											<div class="col-6 col-md-8">
												<input type="text" name="spatial" id="spatial"
													class="form-control">
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<div class="col-6 col-sm-4">
												<label th:for="Brand">Spectral Bands</label>
											</div>
											<div class="col-6 col-md-8">
												<input type="text" name="brand" id="brand"
													class="form-control">
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<div class="col-6 col-sm-4">
												<label th:for="Swath">Swath</label>
											</div>
											<div class="col-6 col-md-8">
												<input type="text" name="swath" id="swath"
													class="form-control">
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group form-inline">
											<div class="col-6 col-sm-4">
												<label th:for="sensor">Satellites Sensor</label>
											</div>
											<div class="col-6 col-md-8">
												<input type="text" name="sensor" id="sensor"
													class="form-control">
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="text-center">
								<button id="btnAddSatellite" type="submit"
									class="btn btn-primary" th:text="Add"></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>