<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>This is a page of user!</h1>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
    <span sec:authorize="isAuthenticated()" style="display: inline-block;">
        <a th:href="@{/logout}">Sign Out</a>
    </span>
</div>
</body>
</html>