<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
    <footer class="footer">
        <div class="container-fluid clearfix">
            <span class="float-right">
                <a th:href="@{/admin/index}" th:text="'Admin Agilspace &copy; '+${#dates.format(#calendars.createToday(), 'yyyy')}"></a>
            </span>
        </div>
    </footer>

</th:block>
</body>
</html>