<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/node_modules/mdi/css/materialdesignicons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/node_modules/dropify/dist/css/dropify.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/node_modules/dropify/dist/css/dropify.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/node_modules/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/vi.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/agilspace.css}">

    <link rel="shortcut icon" th:href="@{/img/favicon.png}" />

</head>
<body class="navbar-primary">
    <div class="container-scroller">
        <th:block th:replace="fragments/header :: header"/>
        <div class="container-fluid page-body-wrapper">
            <div class="row row-offcanvas row-offcanvas-right">
                <th:block th:replace="fragments/menu:: menu"/>
                <div class="content-wrapper">
                    <th:block layout:fragment="content"/>
                </div>
                <th:block th:replace="fragments/footer :: footer"/>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/node_modules/popper.js/dist/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js}"></script>

    <script type="text/javascript" th:src="@{/node_modules/icheck/icheck.min.js}"></script>
    <script type="text/javascript" th:src="@{/node_modules/dropify/dist/js/dropify.min.js}"></script>
    <script type="text/javascript" th:src="@{/node_modules/tinymce/tinymce.min.js}"></script>
    <script type="text/javascript" th:src="@{/node_modules/sweetalert2/dist/sweetalert2.min.js}"></script>
    <script type="text/javascript" th:src="@{/node_modules/jquery.repeater/jquery.repeater.js}"></script>

    <script type="text/javascript" th:src="@{/js/off-canvas.js}"></script>
    <script type="text/javascript" th:src="@{/js/hoverable-collapse.js}"></script>
    <script type="text/javascript" th:src="@{/js/misc.js}"></script>
    <script type="text/javascript" th:src="@{/node_modules/dropify/dist/js/dropify.js}"></script>
    <script type="text/javascript" th:src="@{/js/editorDemo.js}"></script>
    <script type="text/javascript" th:src="@{/js/alerts.js}"></script>

    <script type="text/javascript" th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vi.js}"></script>


</body>
</html>