<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="menu">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <!--main pages start-->
        <li class="nav-item nav-category">
            <span class="nav-link">General</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/index}">
                <i class="mdi mdi-compass-outline"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/home}">
                <i class="mdi mdi-home-modern" aria-hidden="true"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item">
        	<a class="nav-link" th:href="@{/admin/partner}">
        		<i class="mdi mdi-layers"></i>
                <span class="menu-title">Partner</span>
            </a>
        </li>
        
        <li class="nav-item">
        	<a class="nav-link" th:href="@{/admin/satellite}">
        		<i class="mdi mdi-server-network"></i>
                <span class="menu-title">Satellite</span>
            </a>
        </li>
        <li class="nav-item">
        	<a class="nav-link" th:href="@{/admin/gallery}">
        		<i class="mdi mdi-image-filter"></i>
                <span class="menu-title">Gallery</span>
            </a>
        </li>
         <li class="nav-item">
        	<a class="nav-link" th:href="@{/admin/menu}">
        		<i class="mdi mdi-format-align-justify"></i>
                <span class="menu-title">Menu</span>
            </a>
        </li>
        <li class="nav-item">
        	<a class="nav-link" th:href="@{/admin/about}">
        		<i class="mdi mdi-information-outline"></i>
                <span class="menu-title">About Us</span>
            </a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/admin/logout}">
                <i class="mdi mdi-logout"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>
</th:block>
</body>
</html>
