.col-md-8 .form-control{
	width: 100%;
}
.form-inline .col-6 label{
	justify-content: left;
}
.col-6 .form-inline .col-md-8 .form-control{
	width: 100%;
}
.btn-close-new, .btn-close-new-satellite,.btn-close-new-gallery{
	float: right;
}
.col-6 .form-inline .col-md-8 select{
	width: 100%;
}
.btn-success{
	margin-top: 20px;
}
.it .btn-orange
{
	background-color: blue;
	border-color: #777!important;
	color: #777;
	text-align: left;
  width:100%;
}
.it input.form-control
{
	
	border:none;
  margin-bottom:0px;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}
.it .form-control:focus
{
	border-color: #ff4d0d;
	box-shadow: none;
	outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.col-6 .col-sm-8{
	flex: 0 0 100%;
    max-width: 100%;
}
.gallery .row form{
	width: 100%;
	margin-bottom: 20px;
}
.fullstat, .onlyimage, .onlyimageedit, .fullstatedit{
	width: 100%;
	margin-left:0px;
}
.http-error {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
}

.http-error .container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.http-error .container a {
    display: inline-block;
}