<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{fragments/layout_frontend}">
<head>

    <title></title>
    <meta name="description" content="">
    <meta name="og:title" property="og:title" content="">
    <meta name="keywords" content="Agilspace">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">

    <script th:src="@{/js/jquery.simple3D.js}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129196006-1"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-129196006-1');
    </script>
</head>
<body class="about-us-page">
    <div class="custom-bkg"><img src="http://dev.utomedialab.com/Agilspace/assets/images/bkg.png"></div>
    <div layout:fragment="content" th:remove="tag">
        <div class="col-left">
            <span class="scroll-down">SCROLL DOWN</span>
        </div>
        <div class="page-content" th:if ="${about}">
            <div class="page-title"><h1 th:text = "${about.title}"></h1></div>
            <div class="content-wrap">
                <div class="col left">
                    <div class="title" th:text = "${about.leftTitle}"></div>
                    <div class="content" th:utext = "${about.leftContent}">
                    </div>
                </div>
                <div class="col right">
                    <div class="title" th:text = "${about.rightTitle}"></div>
                    <div class="content" th:utext = "${about.rightContent}">
                    </div>
                    <a href="#" th:text = "${about.visitText}"></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>