<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
layout:decorate="~{fragments/layout_frontend}">

<head>

    <title></title>
    <meta name="description" content="">
    <meta name="og:title" property="og:title" content="">
    <meta name="keywords" content="Agilspace">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">

    <script th:src="@{/js/jquery.simple3D.js}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129196006-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-129196006-1');
    </script>
</head>
<body class="contact-us-page">
    <div class="custom-bkg"><img src="http://dev.utomedialab.com/Agilspace/assets/images/bkg.png"></div>
    <div layout:fragment="content" th:remove="tag">
        <div class="col-left">
            <span class="scroll-down">SCROLL DOWN</span>
        </div>
        <div class="page-content">
            <div class="page-title"><h1 th:text = "${contact.pageTitle}"></h1></div>
            <label th:unless = "${message} == ''" class = "success"  th:text= "${message}"></label>
            <div class="content-wrap">
                <div class="col left">
                    <div class="title" th:text = "${contact.electronics}"></div>
                    <div class="content">
                        <div class="phone"><a href="#" th:text = "${contact.phoneNumber}"></a></div>
                        <div class="mail"><a href="#" th:text = "${contact.emailAddress}"></a></div>
                        <div class="address" th:text = "${contact.address}"></div>
                    </div>
                </div>
                <div class="col right">
                    <form th:action="@{/sendemail}" method="POST">
                        <div class="name">
                            <input type="text" name="nameform" required>
                            <label th:text = "${contact.nameform}"></label>
                        </div>
                        <div class="mail">
                            <input type="text" name="emailform" required>
                            <label th:text= "${contact.emailform}"></label>
                        </div>
                        <div class="phone">
                            <input type="text" name="contactform" required>
                            <label th:text = "${contact.contactform}"></label>
                        </div>
                        <div class="company">
                            <input type="text" name="companyform" required>
                            <label th:text = "${contact.companyform}"></label>
                        </div>
                        <div class="enquiry">
                            <select name="enquiry" required>
                                <option value="" disabled selected th:text = "${contact.enquiry}"></option>
                                <option th:each="enquiryoption : ${lsEnquiryoption}" th:value="${enquiryoption}" th:text= "${enquiryoption}" ></option>
                            </select>
                        </div>
                        <div class="message">
                            <textarea name="message"></textarea>
                            <label th:text = "${contact.message}"></label>
                        </div>

                        <input th:if = "${message} == ''" type="submit" th:value="${contact.send}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>