<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Error</title>
	<link rel="stylesheet" type="text/css" th:href="@{/node_modules/mdi/css/materialdesignicons.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	<link rel="shortcut icon" th:href="@{/img/favicon.png}" />
</head>
<body style="font-size: 18px;">
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper">
			<div class="row">
				<div
					class="content-wrapper full-page-wrapper d-flex align-items-center auth-pages">
					<div class="card col-lg-4 mx-auto">
						<div class="card-body px-5 py-5">
							<div class="text-center login logo mb-2 mt-2"><img th:src="@{/img/logo.png}"></div>
							<h1 class="card-title text-left mb-3 text-center"
								>Error</h1>
							<div class="text-center">
								<a class="btn btn-primary" href="/">Home page</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script th:src="@{/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js}"></script>
</body>
</html>