<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorate="~{fragments/layout_frontend}">
<head>

	<title></title>
	<meta name="description" content="">
	<meta name="og:title" property="og:title" content="">
	<meta name="keywords" content="Agilspace">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="noindex, nofollow">

	<script th:src="@{/js/jquery.simple3D.js}"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129196006-1"></script>
	<script type="text/javascript">
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-129196006-1');
	</script>
</head>
<body class="home custom-page pan-geo-page">
	<div class="custom-bkg"><img src="http://ec2-3-1-50-137.ap-southeast-1.compute.amazonaws.com/assets/images/custom-bkg.png"></div>
	<div layout:fragment="content" th:remove="tag">
		<div class="col-left">
			<span class="scroll-down">SCROLL DOWN</span>
		</div>
		<a href="/#partners" class="back">BACK</a>
		<div class="nav">
			<ul id="menu" class="menuanchor" >
				<li data-menuanchor="home" class="home-section"><a href="/">Agilspace</a></li>
				<li data-th-each="partner : ${lsPartner}" th:if="${partner.name} == ${name}" class = "show-label" th:data-menuanchor="${partner.name}"><a th:href="@{'/partner/' + ${partner.name}}" th:text ="${partner.name}"></a></li>
				<li data-th-each="partner : ${lsPartner}" th:if="${partner.name} != ${name}" th:data-menuanchor="${partner.name}"><a th:href="@{'/partner/' + ${partner.name}}" th:text ="${partner.name}"></a></li>
			</ul>
		</div>
		<div class="main-content">
			<div class="content-page">
				<div class="custom-content">
					<h1 th:text ="${name}"></h1>
					<div class="row" data-th-each = "satelliteimage,iterator: ${lsSatelliteImage}">
						<div class="items">
							<div class="item" data-th-each = "satellite,iter: ${satelliteimage.listSatellite}">
								<div class="icon"><img th:src="@{${'/assets/'+satellite.image}}"></div>
								<p class="subtitle" th:text = "${satellite.title}"></p>
								<p class="title" th:text = "${satellite.name}"></p>
								<div class="content">
									<div class="col">
										<div><label>Country:</label><span th:text = "${satellite.country}"></span></div>
										<div><label>Type:</label><span th:text = "${satellite.type}"></span></div>
										<div><label>Launch:</label><span th:text = "${satellite.launch}"></span></div>
										<div><label>Orbit:</label><span th:text = "${satellite.orbit}"></span></div>
										<div><label>Local Time Ascending:</label><span th:text = "${satellite.time}"></span></div>
										<div><label>Lifetime:</label><span th:text = "${satellite.lifetime}"></span></div>
									</div>
									<div class="col">
										<div><label>Agility:</label><span th:text = "${satellite.agility}"></span></div>
										<div><label>Spatial Resolution:</label><span th:text = "${satellite.spatial}"></span></div>
										<div><label>Spectral Bands:</label><span th:text = "${satellite.brand}"></span></div>
										<div><label>Swath:</label><span th:text = "${satellite.swath}"></span></div>
										<div><label>Satellites Sensor:</label><span th:text = "${satellite.sensor}"></span></div>
									</div>
								</div>
							</div>
<!-- 							<div class="item"> -->
<!-- 								<div class="icon"><img src="../assets/images/satellite-icon/Deimos-1.png"></div> -->
<!-- 								<p class="subtitle">DEIMOS IMAGING</p> -->
<!-- 								<p class="title">Deimos 1</p> -->
<!-- 								<div class="content"> -->
<!-- 									<div class="col"> -->
<!-- 										<div><label>Country:</label><span>Spain</span></div> -->
<!-- 										<div><label>Type:</label><span>Optical MR</span></div> -->
<!-- 										<div><label>Launch:</label><span>2009</span></div> -->
<!-- 										<div><label>Orbit:</label><span></span>Sun-Synch</div> -->
<!-- 										<div><label>Local Time Ascending:</label><span>10:30</span></div> -->
<!-- 										<div><label>Lifetime:</label><span>10 years</span></div> -->
<!-- 									</div> -->
<!-- 									<div class="col"> -->
<!-- 										<div><label>Agility:</label><span>-</span></div> -->
<!-- 										<div><label>Spatial Resolution:</label><span>20m</span></div> -->
<!-- 										<div><label>Spectral Bands:</label><span>3</span></div> -->
<!-- 										<div><label>Swath:</label><span>650km</span></div> -->
<!-- 										<div><label>Satellites Sensor:</label><span>1</span></div> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
						</div>
					</div>
				</div>
			</div>
	</div>
	</div>
</body>
</html>