<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{fragments/layout_frontend}">

<head>

    <title></title>
    <meta name="description" content="">
    <meta name="og:title" property="og:title" content="">
    <meta name="keywords" content="Agilspace">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">

    <script th:src="@{/js/jquery.simple3D.js}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129196006-1"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-129196006-1');
    </script>
</head>
<body class="gallery-page">
    <div class="custom-bkg"><img src="http://dev.utomedialab.com/Agilspace/assets/images/bkg.png"></div>
    <div layout:fragment="content" th:remove="tag">
        <div class="col-left">
            <span class="scroll-down">SCROLL DOWN</span>
        </div>
        <div class="page-content">
            <div class="page-title"><h1>Gallery</h1></div>
            <div class="gallery">
                <a data-th-each = "gallery,iter : ${lsGallery}" th:href="@{${'/assets/'+gallery.image}}"><img th:src="@{${'/assets/'+gallery.image}}" alt="" th:title="${gallery.title}" /></a>
            </div>
        </div>
        <script>
            jQuery(document).ready(function ($) {
                var gallery = $('.gallery a').simpleLightbox({
                    captionPosition: 'outside',
                    showCounter: false,
                    heightRatio: .658078431372549,
                    close: false,
                    navText: ['<svg xmlns="http://www.w3.org/2000/svg" width="43.544" height="43.544" viewBox="0 0 43.544 43.544"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M-8677.5-5203.205v-.505h-.507v-30.282h7.067v23.723h23.726v7.064Z" transform="translate(2457.056 9837.27) rotate(45)"/></svg>','<svg xmlns="http://www.w3.org/2000/svg" width="43.544" height="43.544" viewBox="0 0 43.544 43.544"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M-8677.5-5203.205v-.505h-.507v-30.282h7.067v23.723h23.726v7.064Z" transform="translate(-2413.513 -9793.726) rotate(-135)"/></svg>']
                });
            });
        </script>
    </div>

</body>
</html>