<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<div th:fragment="header-css">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" th:href="@{assets/images/logo.svg}" type="image/gif" sizes="16x16">
		<title>Agilspace</title>
		<link rel="shortcut icon" type="image/png" th:href="@{assets/images/favicon.png}"/>
		<link rel="stylesheet" th:href="@{/css/simplelightbox.css}" />
		<link rel="stylesheet" th:href="@{/css/font-awesome.css}" />
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
		<link rel="stylesheet" th:href="@{/css/fullpage.css}" />
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/css/styleupdate.css}" />
		<link rel="stylesheet" th:href="@{/css/custom.css}" />
		<link rel="stylesheet" th:href="@{/css/page-detail.css}" />
	</div>
	<div th:fragment="header-js">

	</div>
</head>
<body>
	<div th:fragment="menu">
		<div class="header">
			<div class="container">
				<div class="logo">
					<a href="/" title="Agilspace">
						<img src="/assets/images/logo.svg">
					</a>
				</div>
				<div class="menu">
					<a class="menu-open">
						<div class="icon">
							<span class="c-burger_top"></span>
							<span class="c-burger_middle"></span>
							<span class="c-burger_bottom"></span>
						</div>
					</a>
					<div class="menu-list">
						<ul class="ul_menu">
							<li><a id="m_home" href="/about-us" th:text = "${menu.about}"></a></li>
							<li><a id="m_geoportal" href="#home/1" th:text = "${menu.geoportal}"></a></li>
							<li><a id="m_geoservices" href="#" th:text = "${menu.geoservices}"></a><span class="angle-down"></span>
								<ul class="sub-menu">
									<li><a id="m_warehouse" href="#home/1" th:text = "${menu.geoserviceSub1}"></a></li>
									<li><a id="m_insights" href="#" th:text = "${menu.geoserviceSub2}"></a></li>
									<li><a id="m_software" href="#" th:text = "${menu.geoserviceSub3}"></a></li>
									<li><a id="m_consultancy" href="#" th:text = "${menu.geoserviceSub4}"></a></li>
								</ul>
							</li>
							<li><a id="m_satellite" href="#" th:text = "${menu.satelite}"></a><span class="angle-down"></span>
								<ul class="sub-menu">
									<li><a id="m_warehouse" href="#home/1" th:text = "${menu.sateliteSub1}"></a></li>
									<li><a id="m_insights" href="#partners" th:text = "${menu.sateliteSub2}"></a></li>
								</ul>
							</li>
							<li><a id="m_manufacturing" href="#" th:text = "${menu.integratedService}"></a><span class="angle-down"></span>
								<ul class="sub-menu">
									<li><a id="m_warehouse" href="#" th:text = "${menu.serviceSub1}"></a></li>
									<li><a id="m_insights" href="#" th:text = "${menu.serviceSub2}"></a></li>
									<li><a id="m_insights" href="#" th:text = "${menu.serviceSub3}"></a></li>
								</ul>
							</li>
							<li><a id="m_all-products" href="#" th:text = "${menu.news}"></a><span class="angle-down"></span>
								<ul class="sub-menu">
									<li><a id="m_warehouse" href="#" th:text = "${menu.newsSub1}" ></a></li>
									<li><a id="m_insights" href="#" th:text = "${menu.newsSub2}"></a></li>
									<li><a id="m_insights" href="/gallery" th:text = "${menu.newsSub3}" ></a></li>
								</ul>
							</li>
							<li><a id="m_contact" href="/contact-us" th:text = "${menu.contact}"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>