<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" th:href="@{assets/images/logo.svg}" type="image/gif" sizes="16x16">
<title>Agilspace</title>
<link rel="shortcut icon" type="image/png" th:href="@{assets/images/favicon.png}"/>
<link rel="stylesheet" th:href="@{/css/simplelightbox.css}" />
<link rel="stylesheet" th:href="@{/css/font-awesome.css}" />
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/css/fullpage.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/page-detail.css}" />
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bower_components/x-editable/dist/jquery-editable/jquery-ui-datepicker/js/jquery-ui-1.10.3.custom.js}"></script>
<script th:src="@{/js/jquery.simple3D.js}"></script>
<script th:src="@{/js/simple-lightbox.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/fullpage.js}"></script>
<script th:src="@{/js/fullpage.scrollHorizontally.limited.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/js/page-detail.js}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129196006-1"></script>

<script>

	window.dataLayer = window.dataLayer || [];

	function gtag(){dataLayer.push(arguments);}

	gtag('js', new Date());

	gtag('config', 'UA-129196006-1');

</script>
</head>
<body>

</body>
</html>