<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorate="~{fragments/layout_frontend}">
<head>
	<title></title>
	<meta name="description" content="">
	<meta name="og:title" property="og:title" content="">
	<meta name="keywords" content="Agilspace">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="noindex, nofollow">

	<script th:src="@{/js/jquery.simple3D.js}"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129196006-1"></script>
	<script type="text/javascript">
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-129196006-1');
	</script>
</head>
<body class="home">
	<div class="custom-bkg"></div>
	<div layout:fragment="content" th:remove="tag">
		<div class="col-left">
			<span class="scroll-down">SCROLL DOWN</span>
		</div>
		<div class="nav">
			<ul id="menu" class="menuanchor" >
				<li data-menuanchor="home" class="home-section"><a href="/" th:text = "${home.appName}"></a></li>
				<li th:if ="${lsPartner}" data-th-each="partner : ${lsPartner}" data-menuanchor=""><a th:href="@{'/partner/' + ${partner.name}}" th:text ="${partner.name}"></a></li>
			</ul>
		</div>
		<div id="fullpage">
			<div class="section">
				<div class="slide" id="home-section">
					<div class="main-content">
						<div class="content-page">
							<div class="content-page-home">
								<div class="dcw-mb1"></div>
								<div class="section-intro">
									<div class="content-section">
										<h1 th:text = "${home.introduction}"></h1>
										<p><a class="link" href="#home/1" title="" th:text= "${home.explore}"> <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
									</div>
								</div>
								<div class="dwsd-mb2"></div>
								<div class="sddzs-mb3"></div>
							</div>
						</div>
					</div>
					<script type="text/javascript">
						jQuery("#simple3D").simple3D({
							moveX:3,
							moveY:3,
							bgImage:true,
							targetAll:true,
							reverseX: true,
							reverseY: true
						});
					</script>
				</div>
				<div class="slide" id="start-section">
					<div class="main-content">
						<div class="section-start animate-flicker">
							<div class="content-section">
								<p><a class="start-link" href="" title="Start" th:text = "${home.start}"></a></p>
							</div>
						</div>
						<div class="content-page" style="display: none;">
							<div class="eos-content">
								<h3 th:text = "${home.singaportintro}"></h3>
								<div class="teleos">
									<div class="items" >
										<div class="item" data-th-each="SingaporeSatellite : ${SingaporeSatellite}">
											<a th:href="@{'/satellite/'+${#strings.replace(SingaporeSatellite.name,' ','-')} + '-'+ ${random}+${SingaporeSatellite.id}}">
												<img th:src="@{${'/assets/'+SingaporeSatellite.image}}" />
												<h4 data-th-text="${SingaporeSatellite.name}"></h4>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section" id="other-partners">
				<div class="main-content">
					<div class="content-page">
						<div class="other-partners">
							<h3>Other partners</h3>
							<div class="partners">
								<div class="items" >
									<div class="item" data-th-each="partner : ${lsPartner}">
										<a th:href="@{'/partner/' + ${partner.name}}">
											<img th:src="@{${'/assets/'+partner.logo}}" />
											<h4 data-th-text="${partner.name}"></h4>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>