<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" th:href="@{/node_modules/mdi/css/materialdesignicons.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	<link rel="shortcut icon" th:href="@{/img/favicon.png}" />
</head>
<body style="font-size: 18px;">
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper">
			<div class="row">
				<div
					class="content-wrapper full-page-wrapper d-flex align-items-center auth-pages">
					<div class="card col-lg-4 mx-auto">
						<div class="card-body px-5 py-5">
							<div class="text-center login logo mb-2 mt-2"><img th:src="@{/img/logo.png}"></div>
							<h1 class="card-title text-left mb-3 text-center"
								>ADMIN LOGIN</h1>
							<form th:action="@{/login}" method=POST>
								<div th:if="${param.error}">
									<div class="alert alert-danger">
										Invalid username or password.
									</div>
								</div>
								<div th:if="${param.logout}">
									<div class="alert alert-info">
										You have been logged out.
									</div>
								</div>
								<div class="form-group">
									<label>Username</label> <input name="username"
										th:placeholder="Username" type="text"
										class="form-control p_input" required="required">
								</div>
								<div class="form-group">
									<label>Password</label> <input name="password"
										th:placeholder="Password" type="password"
										class="form-control p_input" required="required">
								</div>
								<a th:href="@{/admin/forgot}" class="forgot-pass mb-3 mt-3">Forgot password?</a>
								<div class="text-center">
									<button id="btnLogin" type="submit" class="btn btn-primary btn-block enter-btn" th:text ="Login"></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- <script th:src="@{/node_modules/popper.js/dist/popper.min.js}"></script> -->
<!-- <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script> -->
<script th:src="@{/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js}"></script>
<!-- endinject -->
<!-- inject:js -->
<!-- <script th:src="@{/js/off-canvas.js}"></script> -->
<!-- <script th:src="@{/js/hoverable-collapse.js}"></script> -->
<!-- <script th:src="@{/js/misc.js}"></script> -->
</body>
</html>