<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{fragments/layout_frontend}">
<head>
    <title></title>
    <meta name="description" content="">
    <meta name="og:title" property="og:title" content="">
    <meta name="keywords" content="Agilspace">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">

    <script th:src="@{/js/jquery.simple3D.js}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129196006-1"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-129196006-1');
    </script>
</head>
<body class="page-detail">
    <div layout:fragment="content" th:remove="tag">
        <div class="col-left" style="display: block;">
            <span class="scroll-down">SCROLL DOWN</span>
        </div>
        <div class="page-content">
            <a th:unless="${partnername} == Singapore" th:href="@{${'/partner/'+partnername}}" class="back desktop-show">BACK</a>
            <a th:if="${partnername} == Singapore" href="/#home/1" class="back desktop-show">BACK</a>
            <div class="detail-col-left">
                <a th:unless="${partnername} == Singapore" href="@{${'/partner/'+partnername}}" class="back mobile-show">BACK</a>
                <a th:if="${partnername} == Singapore" href="/#home/1" class="back mobile-show">BACK</a>
                <div class="section">
                    <div class="wrap">
                        <h3 class="title">Key Features</h3>
                        <div th:utext = "${satellite.feature}"></div>
                    </div>
                </div>
            </div>
            <div class="detail-col-right">
                <div class="fullpage-section">
                    <div class="background"></div>
                    <div class="section section-image">
                        <div class="wrap">
                        <div class="image">
                            <img th:src="@{${'/assets/'+satellite.image}}">
                        </div>
                        <h1 class="title img-title" th:text = "${satellite.name}"></h1>
                        <div th:unless="${#strings.contains(partnername, 'Singapore')}" class="description">
                            <h3 class="title">Description</h3>
                            <div th:utext = ${satellite.description}></div>
                        </div>
                        <div th:if="${#strings.contains(partnername, 'Singapore')}" class="imaging">
                                <a href="#" th:text = "${satellite.description1}"></a>
                                <a href="#" th:text = "${satellite.description2}"></a>
                                <a href="#" th:text = "${satellite.description3}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="section section-text">
                        <div class="wrap">
                            <div class="content" th:utext = ${satellite.introduction}>
                            </div>
                            <div class="gallery">
                                <a data-th-each = "gallery,iter : ${lsGallery}" th:if ="${iter.index} < 13" th:href="@{${'/assets/'+gallery.image}}"><img th:src="@{${'/assets/'+gallery.image}}" alt="" th:title="${gallery.title}" /></a>
                                <a data-th-each = "gallery,iter : ${lsGallery}" th:if ="${iter.index} == 13"  class="to-gallery" href="/gallery"><img th:src="@{${'/assets/'+gallery.image}}" alt="" title="Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit," /><span th:text = "'+' + ${sizeGallery}"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>