<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorate="~{fragments/layout_frontend}">
<head>
	<title></title>
	<meta name="description" content="">
	<meta name="og:title" property="og:title" content="">
	<meta name="keywords" content="Agilspace">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="noindex, nofollow">

	<script th:src="@{/js/jquery.simple3D.js}"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129196006-1"></script>
	<script type="text/javascript">
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-129196006-1');
	</script>
</head>
<body class="home custom-page">
	<div class="custom-bkg"><img src="http://ec2-3-1-50-137.ap-southeast-1.compute.amazonaws.com/assets/images/custom-bkg.png"></div>
	<div layout:fragment="content" th:remove="tag">
		<div class="col-left">
			<span class="scroll-down">SCROLL DOWN</span>
		</div>
		<div class="nav">
			<ul id="menu" class="menuanchor" >
				<li data-menuanchor="home" class="home-section"><a href="/">Agilspace</a></li>
				<li data-th-each="partner : ${lsPartner}" th:if="${partner.name} == ${name}" class = "show-label" th:data-menuanchor="${partner.name}"><a th:href="@{'/partner/' + ${partner.name}}" th:text ="${partner.name}"></a></li>
				<li data-th-each="partner : ${lsPartner}" th:if="${partner.name} != ${name}" th:data-menuanchor="${partner.name}"><a th:href="@{'/partner/' + ${partner.name}}" th:text ="${partner.name}"></a></li>
			</ul>
		</div>
		<div class="main-content">
			<div class="content-page">
				<div class="custom-content">
					<h1 th:text ="${name}"></h1>
					<div class="fullpage-section">
						<div class="section" data-th-each = "satelliteimage,iterator: ${lsSatelliteImage}" >
							<div class="row">
								<div class="items">
									<div class="item" data-th-each = "satellite,iter: ${satelliteimage.listSatellite}">
										<a th:href="@{'/satellite/'+${#strings.replace(satellite.name,' ','-')} + '-'+ ${satelliteimage.random}+${satellite.id}}">
											<img th:src="@{${'/assets/'+satellite.image}}" />
											<h4 th:text ="${satellite.name}"></h4>
										</a>
									</div>
								</div>
							</div>
						</div>
				</div>
					<div class="mobile">
						<div class="section" data-th-each = "satelliteimage,iterator: ${lsSatelliteImage}">
							<div class="row">
								<div class="items">
									<div class="item" data-th-each = "satellite,iter: ${satelliteimage.listSatellite}">
										<a th:href="@{'/satellite/'+${#strings.replace(satellite.name,' ','-')} + '-'+ ${satelliteimage.random}+${satellite.id}}">
											<img th:src="@{${'/assets/'+satellite.image}}" />
											<h4 th:text ="${satellite.name}"></h4>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>